<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>


<div align="bottom" id="hello">
</div>

<button type="button" id="hellobutton" class="btn btn-info" align="left">Click</button>

</body>

<script>

$(document).ready(function(){

$("#hellobutton").click(function(){
    $.getJSON("/hello", function(result){
       options = result;
       $('#hello').append("<div class=\"bg-primary\" >" + result.text + "</div>");
     });
});

});
</script>

</html>
